Needed libraries
pip3 install pyjwt
pip3 install passlib
pip3 install flask
pip3 install flask_pymongo

#API

from flask import Flask, request, make_response, json
from passlib.hash import sha256_crypt
from flask_pymongo import PyMongo
from flask_cors import CORS
import jwt
import datetime
import base64
import re
import uuid

#Route Handler

import json
from flask import Flask
from flask import request
from flask import make_response
from flask import render_template
import requests
