{% extends 'layouts/layout.html' %}
{% block title %}Home{% endblock title %}
{% block nav_link %}<a href="/dashboard" class="active"><i class="lnr lnr-arrow-left"></i> <span>Go Back</span></a>{% endblock %}
{% block page_header %}Dashboard{% endblock %}
{% block content %}
<div class="col-md-12">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Add New Category</h3>
		</div>
		<div class="panel-body">
			
			<input type="text" class="form-control" placeholder="Category Name">
			<br>
			<label class="fancy-radio">
				<input name="gender" value="male" type="radio">
				<span><i></i>Male</span>
			</label>
			<label class="fancy-radio">
				<input name="gender" value="female" type="radio">
				<span><i></i>Female</span>
			</label>
			<br>
			<textarea class="form-control" placeholder="textarea" rows="4"></textarea>
			<br>
			
		</div>
	</div>
</div>
{% endblock %}