{% extends 'layouts/layout.html' %}
{% block title %}Category List{% endblock title %}
{% block sidebar %}
<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a href="/dashboard" class=""><i class="fa fa-user-circle-o"></i> <span>My Account</span></a></li>
				<li><a href="/categorylist" class="active"><i class="fa fa-tasks"></i> <span>Categories</span></a></li>
				<li><a href="/transactionhistory" class=""><i class="fa fa-handshake-o"></i> <span>Transactions</span></a></li>
			</ul>
		</nav>
	</div>
</div>
{% endblock %}
{% block page_header %}Dashboard{% endblock %}
{% block content %}
	<!-- Modal Add Category-->
	<div class="modal fade" id="add-category" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					<div id="error-message-add-new-category"></div>
				</div>
					
					<div class="modal-body">
						<p>Type</p>
						<form id='new-cat-form'>
							<label class="fancy-radio">
								<input name="type" value="income" type="radio">
								<span><i></i>Income</span>
							</label>
							<label class="fancy-radio">
								<input name="type" value="expense" type="radio">
								<span><i></i>Expense</span>
							</label>
							<br>
							<input name="name" type="text" class="form-control" placeholder="Category Name">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button id="add-new-category" type="button" class="btn btn-primary">Save changes</button>
					</div>
				
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-category">
		<i class="fa fa-plus-circle"></i> Add New Category
		</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-6">
		<!-- TABLE STRIPED -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Income Categories</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Transactions</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="income-table">
					</tbody>
				</table>
			</div>
		</div>
		<!-- END TABLE STRIPED -->
	</div>
	<div class="col-md-6">
		<!-- TABLE STRIPED -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Expense Categories</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Transactions</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="expense-table">
					</tbody>
				</table>
			</div>
		</div>
		<!-- END TABLE STRIPED -->
	</div>
</div>
<script src="{{ url_for('static', filename='js/list-categories.js') }}"></script>
<script src="{{ url_for('static', filename='js/session-check.js') }}"></script>
<script src="{{ url_for('static', filename='js/add-new-cat-page.js') }}"></script>
{% endblock %}