{% extends 'layouts/layout.html' %}
{% block title %}Transaction History{% endblock title %}
{% block sidebar %}
<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a href="/dashboard" class=""><i class="fa fa-user-circle-o"></i> <span>My Account</span></a></li>
				<li><a href="/categorylist" class=""><i class="fa fa-tasks"></i> <span>Categories</span></a></li>
				<li><a href="/transactionhistory" class="active"><i class="fa fa-handshake-o"></i> <span>Transactions</span></a></li>
			</ul>
		</nav>
	</div>
</div>
{% endblock %}
{% block page_header %}Dashboard{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Transactions History</h3>
			</div>
			<div class="panel-body no-padding">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Date</th>
							<th>Category</th>
							<th>Record</th>
							<th>Amount</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody id="records-rows-all">
						
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-3"><span class="panel-note"><i class="fa fa-clock-o"></i> All time</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}