{% extends 'layouts/layout.html' %}
{% block title %}Transaction History{% endblock title %}
{% block sidebar %}
<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a href="/dashboard" class=""><i class="fa fa-user-circle-o"></i> <span>My Account</span></a></li>
				<li><a href="/categorylist" class=""><i class="fa fa-tasks"></i> <span>Categories</span></a></li>
				<li><a href="/transactionhistory" class="active"><i class="fa fa-handshake-o"></i> <span>Transactions</span></a></li>
			</ul>
		</nav>
	</div>
</div>
{% endblock %}
{% block page_header %}Dashboard{% endblock %}
{% block content %}

{% endblock %}